In [1]:
import pandas as pd
import mysql.connector
import seaborn as sns

In [2]:
conn = mysql.connector.connect(host='database-1.cvcplizu8pkf.ap-south-1.rds.amazonaws.com', database='product', user='admin', password='12345678')
if conn.is_connected():
    print("mysql is connected to server")

mysql is connected to server

In [3]:
data=pd.read_sql('select * from product.Persons',conn)
data.head()

C:\Users\B I S M I L L A H\AppData\Local\Temp\ipykernel_10376\4209310862.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data=pd.read_sql('select * from product.Persons',conn)

   ID FirstName LastName Address      City
0   1     Harsh   Sareen     xyz  indoreID
1   2   irshaad   mohmad     xxx   germany
2   3     sumit  agarwal     njk  varanasi
3   4       tom   cruise     lop   newyork
4   5       vin   diesel     tre   florida